@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    What? You want to contact me? Well alright. See below for your options.<br />
    
</address>

<address>
    Connect with me on LinkedIn and grow your network!<br />
    <a href="https://www.linkedin.com/in/michael-waters-here-to-learn-and-grow/">https://www.linkedin.com/in/michael-waters-here-to-learn-and-grow/ </a><br />
</address>

<address>
    This is a false number. Reserving this space as a learning tool. <br />
    <abbr title="Phone">P:</abbr>
    999.888.7777
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Mdwaters92@hotmail.com">Mdwaters92@hotmail.com</a><br />
</address>